# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.ENV/
.env
.env.*

# Jupyter/Colab
.ipynb_checkpoints/
*.checkpoint.ipynb
# Outputs & large data
data/
outputs/
checkpoints/
logs/

# OS
.DS_Store
Thumbs.db

# Tools
.cache/
